* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}


body {
    width: 100%;
    height: 100vh;

    background-color: thistle;
}


.header {
    width: 100%;
    height: 100px ;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: teal;
}


.page_content {

    width: 100%;
    height:  calc(100% - 100px);

    display: flex;

    background-color: green;
}


.aside {
    width: 15vw;
    height: 100%;

    background-color: red;
}


.main_content {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: purple;
}

.item_content {
    width: 200px;
    height: 200px;

    background-color: sandybrown;
}