@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
:root {
    /* --main-color-bg: #051221; */
    --main-color-bg: rgb(22,35,51);
    --main-color-text: #80b2ed;
}

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
    overflow: hidden;
    cursor:none;
}

#cursor {
    z-index: 1000;
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: -100vh;
    mix-blend-mode: difference;
    background-color: white;
}

a {
    
    text-decoration: none;
    color: var(--main-color-text);
}

body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: thistle;
}


header {
    width: 100%;
    height: 60px ;

    display: flex;
    justify-content: center;
    align-items: center;
    
    /* flex-direction: column; */

    background-color: var(--main-color-bg);

    color: var(--main-color-text);

    transition: 2.5s;
    position: relative;
    z-index: 1;
}

header > div {
    margin: 15px;
    transition: 2.5s;
}

.headerOnLoad > div {
    margin: 30px;
}

.page_content {

    width: 100%;
    height:  100%;

    display: flex;

    background-color: green;
}


aside {
    width: 20vw;
    height: calc(100% - 60px);

    background-color: var(--main-color-bg);
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
}

.img-logo{
    width: 100%;  
}
.img-logo img{
    width: 100%;
}

.menu {

    display: flex;
    flex-direction: column;
}
footer {
    align-self: flex-end;
}
.menu_link {
    width: 100%;

    background-color: rgb(5,18,33);
    padding: 10px;
    text-align: center;
    border-bottom: #80b2ed 1px solid;
    
    text-decoration: none;
    color: #80b2ed;
    transition: 0.5s ease-out;
}

.menu_link:first-child {
    border-top: #80b2ed 1px solid;
}

.menu_link:hover {

    background-color:#80b2ed;
    color: #051221;
}

.main_content {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(5,18,33);
}

#grid-canvas {
    width: 100%;
    height: 100%;
    padding: 0;
}

#scroll-img {
    position: absolute;
    bottom: 5vh;
    right: 5vw;
    transition: 2s;
}
#scroll-img img{
    width: 10vw;
    height: 10vw;
     
}


.slide_content{
    width: 70%;
    height: 70%;
    position: absolute;
    background-color: #051221;
    transition: transform 0.8s;  
    border: #80b2ed solid 5px;
    color: white;
    padding: 2vw;
}

.slide_content h2 {
    font-size: 3em;
}

.sport {
    padding: 2vw;
}
.sports {
    display: flex;
}
.sports div {
    display: flex;
    flex-direction: column;
    padding: 2vw;
}

.sports div p{
    padding-top: 2vw;
    text-align:"justify";
}


