@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
:root {
    /* --main-color-bg: #051221; */
    --main-color-bg: rgb(22,35,51);
    --main-color-text: #80b2ed;
}

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
    overflow: hidden;
    cursor:none;
}

#cursor {
    z-index: 1000;
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: -100vh;
    mix-blend-mode: difference;
    background-color: white;
    pointer-events: none
}

a {
    
    text-decoration: none;
    color: var(--main-color-text);
    transition: 1s;
}

a:hover {
    color: #136fd8;
}

p {
    font-size: clamp(15px, 1.7vw,17px);
}

body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: thistle;
}


header {
    width: 100%;
    height: 5.5vh ;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    background-color: var(--main-color-bg);

    color: var(--main-color-text);

    transition: 1.7s;
    position: relative;
    z-index: 1;
}

header > div {
    margin: 0px 15px 0px 15px;

    transition: 1.7s;
}

.headerOnLoad > div {
    margin: 30px;
}

.page_content {

    width: 100%;
    height:  100%;

    display: flex;;
}


aside {
    width: 25vw;
    height: calc(100% - 5.5vh);

    background-color: var(--main-color-bg);
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
    /* border-right: #80b2ed 1px; */
}

.img-logo{
    width: 100%;  
}
.img-logo img{
    width: 100%;
}

.menu {

    display: flex;
    flex-direction: column;
}

footer {
    display: flex;
    flex-direction: column;
    font-size: 1vw;
}

.footer div {
    display: flex;
    align-items: center;
    color: var(--main-color-text);
    padding:1vw;
    
}
.footer div img{
    padding: 0.5vw;
    width: 2vw;
}

.menu_link {
    width: 100%;

    background-color: rgb(5,18,33);
    padding: 10px;
    text-align: center;
    border-bottom: #80b2ed 1px solid;
    
    text-decoration: none;
    color: #80b2ed;
    transition: 0.5s ease-out;
}

.menu_link:first-child {
    border-top: #80b2ed 1px solid;
}

.menu_link:hover {

    background-color:#80b2ed;
    color: #051221;
}

.main_content {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(5,18,33);
}

#grid-canvas {
    width: 100%;
    height: 100%;
    padding: 0;
}

#scroll-img {
    position: absolute;
    bottom: 5vh;
    right: 5vw;
    transition: 2s;
}
#scroll-img img{
    height: 13vh;
     
}


.slide_content{
    width: 70%;
    height: 70%;
    position: absolute;
    background-color: #051221;
    transition: transform 0.8s;  
    border: #80b2ed solid 5px;
    color: white;
    padding: 2vw;
}

.slide_content .content {
    padding: 1vw;
    padding-bottom: 3vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.slide_content .content > div {
    padding: 1vh;
    text-align: justify;
    align-items: center;
    width: 100%;
}
.slide_content img {
    width: 100%;
}

.skill {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 2vh;
}
.container_bar_skill {
    border: white 1px solid;
    width: 60%;
    height: 10px;
}
.bar_skill {
    background-color: var(--main-color-text);
    height: 100%;
    padding: 1vw;
}
.value {
   display: none;
}
h2 {
    font-size: 3em;
}
h3 {
    margin-top:1vh;
    font-weight:normal;
}

h4 {
    margin-top:1vh;
    margin-bottom: 1vh;
    font-size: clamp(17px, 2vw,20px);
    font-weight:normal;
}

li {
    margin: 10px;
}


@media screen and (max-width: 765px) {
    .slide_content{
        width: 70%;
        height: 85%;
        position: absolute;
        background-color: #051221;
        transition: transform 0.8s;  
        border: #80b2ed solid 5px;
        color: white;
        padding: 2vw;
    }
    .slide_content .content {
        flex-direction: column;
    }

    

    .slide_content h2 {
        font-size: 1.5em;
    }
    .slide_content .not-important {
        display: none;
    }


    .slide_content .content > div {
        padding: 2vw;
        text-align: left;
    }

  
}